body{
  color: rgb(12,12,12);
  font-size: 16px;
  font-weight: 300;
}
ul, li{
  list-style-type:  none;
}

header.siteHeader{
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12);
}

.toolbar__title img{
  margin-top: 4px;
}

.container {
  margin: 0 auto !important;
}

.application--light{
 /*background-color: white !important;*/
}

.intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

a {
  color: inherit;
}

.text-center {
  text-align: center;
}

.tabs__item{
  text-transform: capitalize !important;
}

.contentHeader{
  float: left;font-size: 38px; color: #505050; width:60px
}

.contentHeader .icon{
  font-size: 36px;
  color: #505050 !important;
  margin-top: 18px;
}

.my-3{
  color: #505050;  font-size: 32px;
}
/* Badge */

.badge--overlap:after {
  top: -4px !important;
}

.badge:after {
  height: 17px !important;
  width: 17px !important;
}

.badge__badge{
  height: 32px !important;
  width: 32px !important;
}

.badge__badge .icon{
  font-size: 24px !important;
}

.label{
font-size: 14px;
}

.label i{
  margin-top: -3px;
}

.infoCard .value{
  text-align: left;
  font-size: 22px;
  clear: both;
}

.infoCard .label{
  text-align: left;
  float: left;
  width: 100%;
}

.card{
  box-shadow: 0 1px 5px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1), 0 2px 1px -2px rgba(0,0,0,0.22) !important;
}

/* NProgress overrides */
#nprogress .bar {
  background: white !important;
}

#nprogress .peg{
  box-shadow: 0 0 10px white, 0 0 5px white;
}

#nprogress .spinner-icon {
  border-top-color: white !important;
  border-left-color: white !important;
}

.toasted-container.top-right {
  right: 10px !important;
  top: 140px !important;
  width: 400px;
}

.toasted-container.bottom-right .toasted, .toasted-container.top-right .toasted{
  padding: 15px !important;
}

.alert.grey.lighten-3 div{
  color: rgba(0,0,0,0.87);
}

.tabNotificationBadge {
  font-size: 26px;
}

.icon.pending{
  color: rgba(206, 206, 206, 0.54) !important;
}

.siteHeader .chip {
  background: #1ea3f3 !important;
  color: rgba(255, 255, 255, 1) !important;
}

.chip .icon{
  opacity: 1 !important;
}