body{
  color: rgb(12,12,12);
  font-size: 16px;
  font-weight: 300;
}

nav.toolbar{
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12);
}

.container {
  margin: 0 auto !important;
}

.application--light{
  background-color: white !important;
}

.intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

a {
  color: inherit;
}

.text-center {
  text-align: center;
}


/* Badge */

.badge--overlap:after {
  top: -4px !important;
}

.badge:after {
  height: 17px !important;
  width: 17px !important;
}